# Application
PORT=3000
NODE_ENV=development
API_PREFIX=/api/v1
CLIENT_URL=http://localhost:3000

# Database (MongoDB)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.sehtdvu.mongodb.net/nestjs_saas_boilerplate?retryWrites=true&w=majority&appName=Cluster0

# Authentication (JWT)
JWT_ACCESS_SECRET=your_super_secret_access_key
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=your_super_secret_refresh_key
JWT_REFRESH_EXPIRATION=7d

# File Upload (AWS S3)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_S3_BUCKET=your_s3_bucket_name

# Email (Nodemailer / SMTP)
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mailtrap_user
MAIL_PASS=your_mailtrap_password
MAIL_FROM=noreply@saasboilerplate.com

# Payment Gateway (Stripe)
STRIPE_SECRET_KEY=sk_test_your_stripe_secret
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret
